# OS and editors
.DS_Store
.idea/
.vscode/
*.swp

# Node
node_modules/
npm-debug.log*
coverage/
dist/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock
apps/*/android/
apps/*/.metadata

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local env
.env
.env.*
!.env.example
